<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../../component/layui/css/layui.css" rel="stylesheet"/>
    <link href="../../../admin/css/pearCommon.css" rel="stylesheet"/>
</head>
<body>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">订单名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderNameParam" id="orderNameParam" class="layui-input">
                </div>
                <label class="layui-form-label">发货日期</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="sendDateParam" id="sendDateParam" placeholder="yyyy-MM-dd">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="send-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="send-table" lay-filter="send-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="send-toolbar">
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="send-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script src="../../../component/layui/layui.js"></script>
<script>
    layui.use(['table', 'form', 'jquery', 'laydate'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        var laydate = layui.laydate;
        let MODULE_PATH = "/view/system/logistics/";
        let cols = [
            [
                {type: 'checkbox'},
                {title: 'id', field: 'logisticsId', align: 'center', width: 50},
                {title: '物流名称', field: 'companyName', align: 'center', Width: 100},
                {title: '物流电话', field: 'companyPhone', align: 'center', Width: 100},
                {title: '物流件数', field: 'logisticsNumber', align: 'center', Width: 50},
                {title: '物流价格', field: 'logisticsPrice', align: 'center', Width: 100},
                {title: '客户地址', field: 'customerAddress', align: 'center', width: 100},
                {title: '订单名称', field: 'orderName', align: 'center', width: 200},
                {title: '客户名称', field: 'customerName', align: 'center', width: 100},
                {title: '联系电话', field: 'customerPhone', align: 'center', width: 150},
                {title: '发货日期', field: 'created', align: 'center', Width: 100},
                {title: '操作', toolbar: '#send-bar', align: 'center', width: 100}
            ]
        ]

        table.render({
            elem: '#send-table',
            url: '/system/logistics/select',
            page: true,
            cols: cols,
            limit: 10,           //限制每一页的行数
            skin: 'line',
            toolbar: '#send-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(send-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(send-table)', function (obj) {
            if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(send-query)', function (obj) {
            table.reload('send-table', {
                page: {
                    curr: 1
                },
                where: obj.field
            })
            return false;
        });

        form.on('switch(user-enable)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '编辑',
                data: obj,
                shade: 0.1,
                area: ['500px', '550px'],
                content: MODULE_PATH + 'edit?logisticsId=' + obj.data['logisticsId'],
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该物流信息', {icon: 2, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/system/logistics/remove/" + obj.data['logisticsId'],
                    dataType: 'json',
                    type: 'POST',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                                table.reload("send-table");
                            });
                        } else {
                            layer.msg(result.msg, {icon: 3, time: 1000});
                        }
                    }
                })
            });
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 4, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].logisticsId + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些物流信息', {icon: 2, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/system/logistics/batchRemove/" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('send-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 3, time: 1000});
                        }
                    }
                })
            });
        }

        window.refresh = function (param) {
            table.reload('send-table');
        }

        // input 日期选择
        $("#sendDateParam").each(function () {
            // 常规用法
            laydate.render({
                elem: this
            });
        })
    })
</script>
</body>
</html>
