<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oac.project.system.logistics.mapper.LogisticsCompanyMapper">

    <resultMap id="allLogisticsCompany" type="LogisticsCompany">
        <id property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"></result>
        <result property="companyPhone" column="company_phone"/>
    </resultMap>

    <!--List<LogisticsCompany> getAllLogisticsCompany();-->
    <select id="getAllLogisticsCompany" resultMap="allLogisticsCompany">
        SELECT company_id,
               company_name,
               company_phone
        FROM sys_logistics_company
    </select>

</mapper>